body{
    background-color: transparent;
}

/** NAVBAR **/

.navbar {
      	border-radius : 0px;
      }

.nav .active {
        font-weight:bold;
      }

.navbar-brand {
	padding:0px;
}
.navbar-brand>img {
		height: 100%;
  		padding: 15px;
        width: auto;	
        opacity:0.5;
        	filter: alpha(opacity=50);
      }

.brandactive>img{
        opacity: 1.0;
        	filter: alpha(opacity=100);
      }

.errors {
        color: red;
      }

.success {
        color: green;
}

/** FORMS **/
form {
	text-align : center;
}


.btn {
	border-radius : 20px;
}

.show-onclick { 
  display: none; 
}


.pics {
        width:50%;
        border-radius : 500px;
        /*Zoom transition*/
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0.7;
        filter: alpha(opacity=70); /* For IE8 and earlier */
}

      .pics:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
}